<!DOCTYPE html>
<html lang="en">
<head>
  <title>This is title</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body>
 
<div class="container">
  <h2>Student Course management</h2>
  <a href="/student/addStudent" class="btn btn-sm btn-primary">Add Student</a><br/><br/>
  <table class="table table-dark table-striped">
    <thead>
      <tr>
        <th>PRN</th>
        <th>Name</th>
        <th>Email</th> 
        <th>Mobile</th>
        <th>Action</th> 
      </tr>
    </thead>
    <tbody>
        <% students.forEach(function(student){ %>
            <tr>
                <td><%= student.prn %></td>
                <td><%= student.stdname %></td>
                <td><%= student.email %></td>
                <td><%= student.mobile %></td>
                <td>
                    <a href="/student/edit/<%= student.prn %>" class="btn btn-sm btn-primary">Edit</a>
                    <a href="/student/delete/<%= student.prn %>" class="btn btn-sm btn-danger">Delete</a>
                </td>
            </tr>
        <% }); %>
    </tbody>
  </table>
</div>
 
</body>
</html>